* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #0c2340;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
}

ul li {
    margin-right: 20px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

/* Hero section styles */
.hero {
    background-image: url('hero-background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}
.btn{
    position: relative;
    top: -300px;

}
.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    background-color: #fcb040;
    color: #0c2340;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #ffd361;
}

/* Features section styles */
.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
}

.feature {
    text-align: center;
    max-width: 300px;
}

.feature h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.feature p {
    font-size: 1.1rem;
}

/* Footer styles */
footer {
    background-color: #0c2340;
    color: #fff;
    text-align: center;
    padding: 20px;
}